body {
	font-family: 'Nunito', sans-serif;

}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

/*NAVBAR*/

.navBar div {
	background-color: hsl(179, 70%, 74%);
	padding-top: 5px;
	padding-color: hsl(179, 70%, 74%);
	font-family: 'Nunito', sans-serif;
}

.logo {
	float: right;
	margin-top: 4px;
	font-weight: bolder;
	font-size: 1.5em;
}

.row a {
	color: black;
	border-radius: 15px;
}

.navBar a:hover { 
    background-color: black;
    color: white;
}

/*GREETER*/

.greeter {
	background-color: hsl(179, 70%, 74%);
	margin-left: 0;
	margin-right: 0;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: bold;
	padding-right: 0;
}

div.col-6 {
	padding-right: none;
}

h1.greeterHead {
    margin-top: 120px;
    text-align: center;
    margin-left: 100px;
    font-family: 'Bungee', cursive;
}

.greeter img {
	height: 350px;
	width: 350px;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-right: 80px
}

/*FEATURES*/

img.features {
	height: 150px;
	width: 150px;
}

.features h5 {
	font-family: 'Bungee', cursive;
}

.features div {
	text-align: center;
	margin-top: 10px;
	padding-color: hsl(179, 70%, 74%);
}

p.features {
	font-size: .9em;
	font-family: 'Nunito', sans-serif;
}

.greeter.row {
	margin-right: 0;
}

.features div {
	font-family: 'Nunito', sans-serif;
}

/*RECENT WORKS*/

.recentWorks {
	background-color: hsl(132, 46%, 72%);
}

.recentWorks h1{
	margin-top: 27px;
	text-align: center;
	color: #fff;
	font-weight: bolder;
	font-family: 'Bree Serif', serif;
}

.recentWorks p {
	text-align: center;
}

.recentWorks button {
	float: right;
	font-size: .7em;
	margin: 25px 10px 50px 0;
}

.samples img {
	height: 160px;
	width: 250px;
}

.samples div.col-4 {
	text-align: center;
	padding: 20px 0 20px 0;
}

.recentWorks ul {
	float: left;
	margin-top: 20px;
}

.recentWorks a {
	color: white;
}

.recentWorks a:hover { 
    color: black;
}

/*INFO*/

.info {
	background-color: hsl(0, 2%, 89%);
}

.info img {
	height: 200px;
	width: 200px;
}

.info h6 {
	font-weight: bolder;
	font-size: 1.1em;
}

.info p {
	font-size: .9em	;
}

.info .col-4 {
	text-align: right;
	padding-right: 15px;
}

.info .col-6 {
	margin-top: 25px;
}

.info hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.1);
}

/*MEET US*/

.meetUs {
	background-color: hsl(354, 53%, 58%);
}

.meetUs h1 {
	font-weight: bolder;
	margin-top: 28px;
	color: #fff;
}

.meetUs img {
	height: 180px;
	width: 300px;
}

.meetUs .col-4 {
	text-align: center;
}

img.icons {
	height: 80px;
	width: 100px;
}

.meetUs .fa {
	color: blue;
	margin-bottom: 28px;
}

.meetUs .fa-twitter {
	color: aquamarine;
}

.meetUs .fa-pinterest-p {
	color: red;
}











